{% import "common/macros.html" as macros with context %}
{% import "common/instance_view_builder.html" as view_builder with context %}

{% macro build_child_collections(parameters, collection_uri, level) %}
    {% if conf.debug %}
        <p class="debug-children">build_child_collections | level: {{ level }} |
            collection_uri: {{ collection_uri }}</p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

    SELECT ?member ?prefLabel
    FROM <~graph>
    {
      values ?collection {<"~collection_uri~">}
      ?member a skos:Collection .
      ?collection skos:member ?member .
      optional {
        ?member skos:prefLabel ?prefLabel
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.empty %}
            {% if conf.debug %}
                <p class="debug">collection's not empty {{ collection_uri }}</p>
            {% endif %}
            {% for row in content.itertuples() %}
                {% if conf.debug %}
                    <p class="debug">building {{ row.prefLabel }}</p>
                {% endif %}
                {{ view_builder.build_instance_view(parameters, row.member, row.prefLabel, level) }}
                {{ build_child_collections(parameters, row.member, level + 1) }}
                {{ build_child_concepts(parameters, row.member, level + 1) }}
            {% endfor %}
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_child_concepts(parameters, collection_uri, level) %}
    {% if conf.debug %}
        <p class="debug-children">build_child_concepts | level: {{ level }} | collection_uri: {{ collection_uri }}</p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

    SELECT ?member ?prefLabel
    FROM <~graph>
    {
      values ?collection {<"~collection_uri~">}
      ?member a skos:Concept .
      ?collection skos:member ?member .
      optional {
        ?member skos:prefLabel ?prefLabel
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.empty %}
            {% if conf.debug %}
                <p class="debug">concept's not empty {{ collection_uri }}</p>
            {% endif %}
            {% for row in content.itertuples() %}
                {% if conf.debug %}
                    <p class="debug">building {{ row.prefLabel }}</p>
                {% endif %}
                {{ view_builder.build_instance_view(parameters, row.member, row.prefLabel, level, true) }}
            {% endfor %}
        {% endif %}
    {% endcall %}
{% endmacro %}
