{% import "common/macros.html" as macros with context %}

{% macro build_instance_view (parameters, instance_uri, instance_label, level, is_concept=false) %}
    {% if conf.debug %}
        <p class="debug">build_instance_view <strong>{{ instance_label }} level:{{ level }}</strong></p>
    {% endif %}
    <h{{ level }} id="{{ instance_uri }}">
        {{ instance_label }}
        {% if is_concept %}
            <sup title="concept">[cn]</sup>
        {% else %}
            <sup title="collection">[cl]</sup>
        {% endif %}
    </h{{ level }}>
    <section about="{{ instance_uri }}">
        <div class="sectionLeftColumn">
            {{ build_instance_metadata_part(parameters, instance_uri) }}
            {{ build_instance_editorial_part(parameters, instance_uri) }}
            {{ build_lam_property_configuration_list(parameters, instance_uri) }}
            {{ build_lam_classification_hint_list(parameters, instance_uri) }}
            {{ build_constraints(parameters, instance_uri) }}
        </div>
        <div class="sectionRightColumn">
            {{ build_useful_links(parameters, instance_uri) }}
        </div>
    </section>
{% endmacro %}


{% macro build_constraints(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_constraints <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX sh: <http://www.w3.org/ns/shacl#>
    prefix lam: <http://publications.europa.eu/ontology/lam-skos-ap#>
    prefix lamd: <http://publications.europa.eu/resources/authority/lam/>

    select distinct ?constraintValue ?graphUri
    {
      values ?instanceUri {<"~instance_uri~">}
      graph ?graphUri
      {
        ?instancePath lam:path ?instanceUri .
        ?instancePath sh:value ?constraintValue .
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {{ macros.render_description_item_plain_literal (content, "constraintValue", "Encountered value constraints", "sh:value", True) }}
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_instance_metadata_part(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_instance_metadata_part <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX sh: <http://www.w3.org/ns/shacl#>
    PREFIX dct: <http://purl.org/dc/terms/>
    PREFIX euvoc: <http://publications.europa.eu/ontology/euvoc#>
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

    SELECT ?deprecated ?altLabel ?created ?modified ?notation ?identifier ?order ?class ?path ?parent
    FROM <~graph>
    {
      values ?instance {<"~instance_uri~">}
      {
        ?instance owl:deprecated ?deprecated
      }
      union {
        ?instance skos:altLabel ?altLabel
      }
      union {
        ?instance dct:created ?created .
      }
      union {
        ?instance dct:modified ?modified
      }
      union {
        ?instance skos:notation ?notation
      }
      union {
        ?instance dct:identifier ?identifier
      }
      union {
        ?instance euvoc:order ?order .
      }
      union {
        ?instance sh:class ?class .
      }
      union {
        ?instance sh:path ?path .
      }
      union {
        ?parent skos:member ?instance
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            <dl>
                <dt>IRI</dt>
                <dd><p class="iri_monospace">{{ instance_uri }}</p></dd>
            </dl>
            {{ macros.render_description_item_iri (content, "parent", "Parent", "skos:member") }}
            {{ macros.render_description_item_plain_literal (content, "deprecated", "Deprecated on", "owl:deprecated") }}
            {{ macros.render_description_item_plain_literal (content, "altLabel", "Alternative label", "skos:altLabel") }}
            {{ macros.render_description_item_plain_literal (content, "created", "Created on", "dct:created") }}
            {{ macros.render_description_item_plain_literal (content, "modified", "Modified on", "dct:modified") }}
            {{ macros.render_description_item_plain_literal (content, "notation", "Notation", "skos:notation", is_integer=True) }}
            {{ macros.render_description_item_plain_literal (content, "identifier", "Identifier", "dct:identifier", is_integer=True) }}
            {{ macros.render_description_item_plain_literal (content, "order", "Order", "euvoc:order", is_integer=True) }}
            {% if conf.debug %}
                <p class="debug-render">skos concept part for</p>
            {% endif %}
            {{ macros.render_description_item_iri (content, "class", "Class", "sh:class", external_link=True) }}
            {{ macros.render_description_item_plain_literal (content, "path", "Path", "sh:path") }}
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro build_instance_editorial_part(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_instance_editorial_part <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX sh: <http://www.w3.org/ns/shacl#>
    PREFIX dct: <http://purl.org/dc/terms/>
    PREFIX euvoc: <http://publications.europa.eu/ontology/euvoc#>

    select ?definition ?scopeNote ?example ?changeNote ?historyNote ?editorialNote ?note ?member ?narrowerConcept ?shName ?shDescription
    FROM <~graph>
    {
      values ?instance {<"~instance_uri~">}
      {
        ?instance skos:definition ?definition .
      }
      union {
        ?instance skos:scopeNote ?scopeNote
      }
      union {
        ?instance skos:example ?example
      }
      union {
        ?instance skos:changeNote ?changeNote
      }
      union {
        ?instance skos:historyNote ?historyNote
      }
      union {
        ?instance skos:editorialNote ?editorialNote
      }
      union {
        ?instance skos:note ?note
      }
      union {
        ?instance skos:member ?member .
      }
      union {
        ?narrowerConcept skos:broader ?instance .
      }
      union {
        ?instance sh:name ?shName .
      }
      union {
        ?instance sh:description ?shDescription .
      }
    }" %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {% if conf.debug %}
                <p class="debug-render">skos editorial part for <strong>{{ instance_uri }}</strong></p>
            {% endif %}
            {{ macros.render_description_item_plain_literal (content,"definition", "Definition", "skos:definition", True, accordion_content_state="show") }}
            {{ macros.render_description_item_plain_literal (content, "scopeNote", "Scope note", "skos:scopeNote", True, accordion_content_state="show") }}
            {{ macros.render_description_item_plain_literal (content, "example", "Example", "skos:example", True, True) }}
            {{ macros.render_description_item_plain_literal (content, "changeNote", "Change note", "skos:changeNote", True) }}
            {{ macros.render_description_item_plain_literal (content, "historyNote", "History note", "skos:historyNote", True) }}
            {{ macros.render_description_item_plain_literal (content, "editorialNote", "Editorial note", "skos:editorialNote", True) }}
            {{ macros.render_description_item_plain_literal (content, "note", "Note" , "skos:note", True) }}
            {{ macros.render_description_item_iri (content, "member", "Members", "skos:member", None,True) }}
            {{ macros.render_description_item_iri (content, "narrowerConcept", "Narrower Concepts", "skos:broader", None,True) }}
            {% if conf.debug %}
                <p class="debug-render">sh editorial part for <strong>{{ instance_uri }}</strong></p>
            {% endif %}
            {{ macros.render_description_item_plain_literal (content, "shName", "Name", "sh:name") }}
            {{ macros.render_description_item_plain_literal (content, "shDescription", "Description", "sh:description", True) }}
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_lam_property_configuration_list(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_lam_property_configuration_list <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX sh: <http://www.w3.org/ns/shacl#>
    PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

    select ?propertyConfiguration
    FROM <~graph>
    {
      values ?instance {<"~instance_uri~">}
      ?instance lam:hasPropertyConfiguration ?propertyConfiguration .
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.empty %}
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <a class="text-dark font-weight-bold" onclick="showContent()">
                        Property configurations
                    </a>
                </div>
                <div class="collapse">
                    <div class="card-body">
                        {% for row in content.itertuples() %}
                            <p property="lam:hasPropertyConfiguration">{{ build_lam_classification_hint_or_property_configuration(parameters, row.propertyConfiguration) }} </p>
                            {{ "<hr> " if not loop.last }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_lam_classification_hint_list(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_lam_property_configuration_list <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX sh: <http://www.w3.org/ns/shacl#>
    PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

    select ?classificationHint
    FROM <~graph>
    {
      values ?instance {<"~instance_uri~">}
      ?instance lam:classifyWith ?classificationHint .
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.empty %}
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <a class="text-dark font-weight-bold" onclick="showContent()">
                        Defining configurations
                    </a>
                </div>
                <div class="collapse">
                    <div class="card-body">
                        {% for row in content.itertuples() %}
                            <p property="lam:classifyWith">{{ build_lam_classification_hint_or_property_configuration(parameters, row.classificationHint) }}</p>
                            {{ "<hr> " if not loop.last }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_lam_classification_hint_or_property_configuration(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_lam_classification_hint <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {% set select_query =
    "PREFIX sh: <http://www.w3.org/ns/shacl#>
    PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

    select ?name ?path ?flags ?pattern ?class ?value ?minCount ?maxCount ?configurations
    FROM <~graph>
    {
      values ?instance {<"~instance_uri~">}
      {
        ?instance sh:name ?name .
      }
      union {
        ?instance lam:path ?path .
      }
      union {
        ?instance sh:flags ?flags
      }
      union {
        ?instance sh:pattern ?pattern
      }
      union {
        ?instance sh:class ?class
      }
      union {
        ?instance sh:value ?value
      }
      union {
        ?instance sh:minCount ?minCount
      }
      union {
        ?instance sh:maxCount ?maxCount
      }
      union {
        ?instance lam:hasAnnotationConfiguration ?configurations
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {{ render_lam_classification_hint_or_property_configuration(content.dropna(how="all")) }}

        {% set values = content["configurations"].dropna() %}
        {% if not values.empty %}
            {% if conf.debug %}
                <p class="debug">build_lam_property_configuration for hasAnnotationConfiguration
                    <strong>{{ instance_uri }}</strong></p>
            {% endif %}
            {% for idx, item in values.iteritems() %}
                <em>{{ build_lam_classification_hint_or_property_configuration(parameters, item) }}</em>
            {% endfor %}
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro render_lam_classification_hint_or_property_configuration(content) %}
    {% if conf.debug %}
        <p class="debug-render">render_lam_classification_hint</p>
    {% endif %}
    {% if not content.empty %}
        {{ macros.render_inline_link(content, 'path', 'property') }}
        {{ macros.render_inline_values(content, 'minCount', 'min', '0') }}
        {{ macros.render_inline_values(content, 'maxCount', 'max', '*') }}
        {{ macros.render_inline_values(content, "flags", "flags") }}
        {{ macros.render_inline_values(content, "pattern", "pattern") }}
        {{ macros.render_inline_values(content, "class", "class") }}
        {{ macros.render_inline_values(content, "value", "value", is_integer=True) }}
        <br>
    {% endif %}
{% endmacro %}


{% macro build_useful_links(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_useful_links <strong>{{ instance_uri }}</strong></p>
    {% endif %}
    {#    {% set graph = parameters.graph %}#}

    {{ build_links_from_classify_with_or_has_property_configuration(parameters, instance_uri) }}
    {{ build_links_from_lam_class_property_configurations_for_celex_uri(parameters, instance_uri) }}
    {{ build_links_from_lam_class_property_configurations_for_lam_property_uri(parameters, instance_uri) }}
{% endmacro %}

{% macro build_links_from_classify_with_or_has_property_configuration(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_used_in_classify_with_or_has_property_configuration <strong>{{ instance_uri }}</strong>
        </p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    prefix lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

    select distinct ?link ?linkLabel ?graphUri
    {
      values ?instanceUri {<"~instance_uri~">}
      graph ?graphUri
      {
        ?propConfig lam:path ?instanceUri .
        optional {
          ?link lam:classifyWith | lam:hasPropertyConfiguration ?propConfig.
          optional {
            ?link skos:prefLabel ?linkLabel .
          }
        }
      }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna().empty %}
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <a class="text-dark font-weight-bold" onclick="showContent()">
                        Useful links - LAM templates
                    </a>
                </div>
                <div class="collapse hide">
                    <div class="card-body">
                        {% for row in content.itertuples() %}
                            <a href="#{{ row.link }}">{{ row.linkLabel }}</a><br>
                            {{ "<hr> " if not loop.last }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro build_links_from_lam_class_property_configurations_for_celex_uri(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_links_from_celex_class_property_configurations <strong>{{ instance_uri }}</strong>
        </p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    prefix lam: <http://publications.europa.eu/ontology/lam-skos-ap#>
    prefix celexd: <http://publications.europa.eu/resources/authority/celex/>
    prefix lamd: <http://publications.europa.eu/resources/authority/lam/>
    prefix sh: <http://www.w3.org/ns/shacl#>

    select distinct ?lam_class_uri ?lam_class_label
    {
        values ?celex_class_uri {<"~instance_uri~">}
        values ?celex_class_linker { lamd:md_DN_CLASS }
        graph ?graphUri {

            ?lam_class_uri lam:classifyWith | lam:hasPropertyConfiguration ?prop_config .
            ?lam_class_uri skos:prefLabel ?lam_class_label .

             ?prop_config lam:path ?celex_class_linker .

            ?prop_config sh:value ?celex_class_uri .
            ?prop_config sh:name ?name .
        }
    }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna().empty %}
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <a class="text-dark font-weight-bold" onclick="showContent()">
                        Useful links - LAM templates
                    </a>
                </div>
                <div class="collapse hide">
                    <div class="card-body">
                        {% for row in content.itertuples() %}
                            <a href="#{{ row.lam_class_uri }}">{{ row.lam_class_label }}</a><br>
                            {{ "<hr> " if not loop.last }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro build_links_from_lam_class_property_configurations_for_lam_property_uri(parameters, instance_uri) %}
    {% if conf.debug %}
        <p class="debug">build_links_from_celex_class_property_configurations <strong>{{ instance_uri }}</strong>
        </p>
    {% endif %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
        prefix lam: <http://publications.europa.eu/ontology/lam-skos-ap#>
        prefix celexd: <http://publications.europa.eu/resources/authority/celex/>
        prefix lamd: <http://publications.europa.eu/resources/authority/lam/>
        prefix sh: <http://www.w3.org/ns/shacl#>

        select distinct ?celex_class_uri ?celex_class_label
        {
            values ?lam_property_uri {<"~instance_uri~">}
            values ?celex_class_linker { lamd:md_DN_CLASS }

            graph ?lam_class_graph_uri {
                ?prop_config lam:path ?lam_property_uri .
                ?lam_class lam:classifyWith | lam:hasPropertyConfiguration ?prop_config .
                optional {
                    ?lam_class skos:prefLabel ?lam_class_label .
                }

                ?lam_class lam:classifyWith | lam:hasPropertyConfiguration ?prop_config_celex .
                ?prop_config_celex lam:path ?celex_class_linker .
                ?prop_config_celex sh:value ?celex_class_uri .
            }
            GRAPH ?celex_graph {
                ?celex_class_uri skos:prefLabel ?celex_class_label
            }
        }" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, parameters).fetch_tabular() %}
    {% call macros.render_fetch_results(content, error) %}
        {% if not content.dropna().empty %}
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <a class="text-dark font-weight-bold" onclick="showContent()">
                        Useful links - CELEX classes
                    </a>
                </div>
                <div class="collapse hide">
                    <div class="card-body">
                        {% for row in content.itertuples() %}
                            <a href="#{{ row.celex_class_uri }}">{{ row.celex_class_label }}</a><br>
                            {{ "<hr> " if not loop.last }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}
