body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-container {
    padding-bottom: 2em;
}

.form {
    padding: 2em !important;
    margin-bottom: 5em;
}

.btn {
    text-transform: none;
}

.toast {
    background-color: #ef9a9a;
    color: black;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #42A5F5;
    border: 2px solid #42A5F5;
}
