{% import "common/macros.html" as mc %}
{% import "common/concept_macros.html" as cm %}
{% import "common/property_configuration_macros.html" as pcm %}
{% import "common/defining_configuration_macros.html" as dcm %}

<h1>LAM concepts</h1>

{% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
select ?concept ?prefLabel
{
  ?concept a skos:Concept .
   optional {
    ?concept skos:prefLabel ?prefLabel
  }
} ORDER BY ?concept" %}
{% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
{% call mc.render_fetch_results(content, error) %}

    {% set level = 2 %}
    {% for idx, row in content.iterrows() %}
        {{ cm.build_concept_view(row["concept"], row["prefLabel"], level) }}
        {{ dcm.build_concept_defining_configuration_list(row["concept"]) }}
        {{ pcm.build_concept_property_configuration_list(row["concept"]) }}

    {% endfor %}
{% endcall %}




