{% import "common/macros.html" as macros %}
{% import "common/instance_view_builder.html" as instance_builder %}
{% import "common/content_builder.html" as content_builder %}

<h1>CELEX Classes</h1>
{% set graph = conf.graphs.celex_classes %}

{% set select_query =
"PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX euvoc: <http://publications.europa.eu/ontology/euvoc#>

SELECT ?collection ?prefLabel
FROM <"~graph~">
{
  ?collection a skos:Collection .
  optional {
    ?collection skos:prefLabel ?prefLabel
  }
  ?collection euvoc:order ?order .

  FILTER NOT EXISTS {
    ?parent skos:member ?collection
  }
} ORDER by ?order" %}
{% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
{% call macros.render_fetch_results(content, error) %}
    {% set level = 2 %}
    {% for row in content.itertuples() %}
        <p class="debug">top level collection: <strong>{{ row.prefLabel }}</strong></p>
        {{ instance_builder.build_instance_view(graph, row.collection, row.prefLabel, level) }}
        {{ content_builder.build_child_collections(graph, row.collection, level + 1) }}
        {{ content_builder.build_child_concepts(graph, row.collection, level + 1) }}
    {% endfor %}
{% endcall %}