{% extends "layout.html" %}
{% import "common/macros.html" as macros with context %}

{% block content %}
    {# Read the and invert the namespace/prefix definitions for substitution #}
    {% set prefixes, error = from_file(conf.template_path+'/prefixes.json').fetch_tree() %}
    {% set namespaces = namespace_inventory(prefixes) %}

    {% include "document_properties/main.html" with context %}
    {% include "lam_classes/main.html" with context %}
    {% include "celex_classes/main.html" with context %}


    <!-- Button trigger modal -->
    <button type="button" id="modalButton" class="btn btn-primary" data-toggle="modal"
            data-target="#namespaceModalCenter">
        Namespace Declarations
    </button>

    <!-- Modal -->
    <div class="modal fade" id="namespaceModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="namespaceModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title skip-toc counter-skip" id="namespaceModalLongTitle">Namespace Declarations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ macros.render_namespaces(namespaces.namespaces_as_dict()) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}