{% extends "layout.html" %}

{% block content %}
    {# Read the and invert the namespace/prefix definitions for substitution #}
    {% set prefixes, error = from_file(conf.template_path+'/prefixes.json').fetch_tree() %}
    {% set inverted_prefixes = invert_dict(prefixes) %}

    {% set namespaces = namespace_inventory(inverted_prefixes) %}

    {% include "document_properties/main.html" with context %}
{#    {% include "lam_classes/main.html" with context %}#}
{#    {% include "celex_classes/main.html" with context %}#}

{% endblock %}