{% import "common/macros.html" as mc %}

{% macro build_collection_view (graph, collection_uri, collection_label, level) %}
    <p class="debug">build_collection_view <strong>{{ collection_label }} level:{{ level }}</strong> </p>

    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

    select ?prefLabel
    FROM <"~graph~">
    {
      values ?collection {<"~collection_uri~">}
      optional {
        ?collection skos:prefLabel ?prefLabel
      }
    }"%}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        <h{{ level }} id="{{ collection_uri }}">
            {{ collection_label }} <sup title="collection">[collection]</sup>
        </h{{ level }}>
        <section>
            <dl>
                <dt>IRI</dt>
                <dd><a href="#{{ collection_uri }}">{{ collection_uri }}</a></dd>
            </dl>
            {{ build_collection_metadata_part(graph, collection_uri) }}
            {{ build_collection_editorial_part(graph, collection_uri) }}
        </section>
    {% endcall %}
{% endmacro %}

{% macro build_collection_editorial_part(graph, collection_uri) %}
    <p class="debug">build_collection_editorial_part <strong>{{ collection_uri }}</strong> </p>

    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

    select ?definition ?scopeNote ?example ?editorialNote ?historyNote ?changeNote
    FROM <"~graph~">
    {
      values ?collection {<"~collection_uri~">}
      ?collection skos:definition ?definition .
    }" %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {{ mc.render_description_item_plain_literal (content, "definition", "Definition") }}
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro build_collection_metadata_part(graph, collection_uri) %}
    <p class="debug">build_collection_metadata_part <strong>{{ collection_uri }}</strong> </p>

    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX dct: <http://purl.org/dc/terms/>
    PREFIX euvoc: <http://publications.europa.eu/ontology/euvoc#>

    select ?created ?order ?notation ?member
    FROM <"~graph~">
    {
      values ?collection {<"~collection_uri~">}
      {
        ?collection dct:created ?created .
      }
      union {
        ?collection euvoc:order ?order .
      }
      union {
        ?collection skos:notation ?notation .
      }
      union {
        ?collection skos:member ?member .
      }
    }" %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {{ mc.render_description_item_local_iri (content,"member","Members") }}
            {{ mc.render_description_item_plain_literal (content,"created","Created Date") }}
            {{ mc.render_description_item_plain_literal (content,"notation","Notation") }}
            {{ mc.render_description_item_plain_literal (content,"order","Order") }}
        {% endif %}
    {% endcall %}
{% endmacro %}