{% import "common/macros.html" as mc %}

{% macro build_concept_property_configuration_list (concept_uri) %}
    {% set select_query =
    "PREFIX sh: <http://www.w3.org/ns/shacl#>
prefix lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

select ?property ?propertyName
{
  values ?concept {<"~concept_uri~">}
  ?concept lam:hasPropertyConfiguration ?property .
    optional{
  ?property sh:name ?propertyName .
  }
} order by ?propertyName" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.empty %}
            <dl>
                <dt>Property configuration</dt>
                {% for idx, row in content.iterrows() %}
                    <dd>
                        <dl>
                            <dt>{{ row["propertyName"] }}</dt>
                            <dd>
                                <dl>
                                    <dt>IRI</dt>
                                    <dd><a href="#{{ row["property"] }}">{{ row["property"] }}</a></dd>
                                </dl>
                            </dd>
                            <dd>{{ build_concept_property_configuration_view(row["property"]) }}</dd>
                        </dl>
                    </dd>
                {% endfor %}
            </dl>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro build_concept_property_configuration_view(property_uri) %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX sh: <http://www.w3.org/ns/shacl#>
PREFIX dct: <http://purl.org/dc/terms/>
PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

select ?value ?minCount ?maxCount ?description ?note ?created ?annotationURI
{
  values ?property {<"~property_uri~">}
  ?property a lam:PropertyConfiguration .

  {?property sh:value ?value .}
  union{
  ?property sh:maxCount ?maxCount .
  }union{
  ?property sh:minCount ?minCount .
  }union{
  ?property sh:description ?description .
  }union{
  ?property skos:editorialNote ?note
  }  union{
  ?property dct:created ?created
  } union{
  ?property lam:hasAnnotationConfiguration ?annotationURI
  }
}" %}



    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {{ mc.build_description_item_plain_literal (content,"value","Value") }}
            {{ mc.build_description_item_plain_literal (content,"created","Created date") }}
            {{ mc.build_description_item_plain_literal (content,"minCount","Min count") }}
            {{ mc.build_description_item_plain_literal (content,"maxCount","Max count") }}
            {{ mc.build_description_item_plain_literal (content,"description","Description") }}
            {{ mc.build_description_item_plain_literal (content,"note","Editorial note") }}
            {% for value in content["annotationURI"] %}
                {{ build_property_annotation_configuration_view(value) }}
            {% endfor %}
        {% endif %}
    {% endcall %}


{% endmacro %}

{% macro build_property_annotation_configuration_view(annotation_uri) %}
    {% set select_query =
    "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX sh: <http://www.w3.org/ns/shacl#>
PREFIX lam: <http://publications.europa.eu/ontology/lam-skos-ap#>

select ?name ?value ?minCount ?description ?note
{
  values ?annotation {<"~annotation_uri~">}
  ?annotation a lam:AnnotationConfiguration .

  {?annotation sh:value ?value }
  union{
  ?annotation sh:minCount ?minCount .
  }union{
  ?annotation sh:description ?description .
  }union{
  ?annotation sh:name ?name .
  }union{
  ?annotation skos:editorialNote ?note
  }
}" %}



    {% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.dropna(how="all").empty %}
            {{ mc.build_description_item_plain_literal (content,"name","Name") }}
            {{ mc.build_description_item_plain_literal (content,"value","Value") }}
            {{ mc.build_description_item_plain_literal (content,"minCount","Min count") }}
            {{ mc.build_description_item_plain_literal (content,"description","Description") }}
            {{ mc.build_description_item_plain_literal (content,"note","Editorial note") }}
        {% endif %}
    {% endcall %}


{% endmacro %}

