{% import "common/macros.html" as macros with context %}
{% import "common/instance_view_builder.html" as instance_builder with context %}
{% import "common/child_content_builder.html" as child_content_builder with context %}

<h1>CELEX Classes</h1>

{% set select_query =
"PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX euvoc: <http://publications.europa.eu/ontology/euvoc#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?collection ?prefLabel
FROM <~graph>
{
  ?collection a skos:Collection .
  optional {
    ?collection skos:prefLabel ?prefLabel
  }
  ?collection euvoc:order ?order .
  BIND(xsd:integer(?order) as ?intOrder)
  FILTER NOT EXISTS {
    ?parent skos:member ?collection
  }
} ORDER by ?intOrder" %}
{% set content, error = from_endpoint(conf.default_endpoint).with_query(select_query, conf.celex_classes).fetch_tabular() %}
{% call macros.render_fetch_results(content, error) %}
    {% set level = 2 %}
    {% for row in content.itertuples() %}
        {% if conf.debug %}
            <p class="debug">top level collection: <strong>{{ row.prefLabel }}</strong></p>
        {% endif %}
        {{ instance_builder.build_instance_view(conf.celex_classes, row.collection, row.prefLabel, level) }}
        {{ child_content_builder.build_child_collections(conf.celex_classes, row.collection, level + 1) }}
        {{ child_content_builder.build_child_concepts(conf.celex_classes, row.collection, level + 1) }}
    {% endfor %}
{% endcall %}